* {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

#general {
    width: 1200px;
    margin: 0px auto;
    margin-top: 20px;
    border: 1px solid black;

}

#header {
    width: 100%;
    height: 100px;
    background-color: rgb(183, 146, 209);
    color: white;
    text-align: center;
    line-height: 95px;
}

.clearfix {
    float: none;
    clear: both;
}

#menu {
    background-color: #eeeeee;
}

#menu ul li {
    /* display: inline-block; */
    display: block;
    float: left;
    border-right: 0.3px solid #cccccc;

}

#menu ul li a{
    display: block;
    padding: 15px;
    color: #444444;   

}

#menu ul li:hover{
    background-color: rgb(174, 137, 198);
    cursor: pointer;   
}

#menu ul li:hover a{
    color: white;   
}

#content {
    width: 69%;
    float: left;
}

#lateral {
    float: left;
    width: 30%;
    border: 1px solid black;
    min-height: 500px;
    max-height: 650px;
    text-align: center;
    /* overflow: hidden; */
    overflow-y: scroll;
}

#content h1{
    text-align: center;
    border-bottom: 1px solid #ccc;
    padding: 15px;
    color: #444444;
    text-shadow: 1px 1px 2px gray;
}

#content .caja{
    position: relative;
    width: 40%;
    height: 250px;
    background-color: #ccc;
    border: 1px solid gray;
    color: white;
    float: left;
    margin: 20px;
    margin-left: 40px;
    text-align: center;
    line-height: 200px;
    color: #444444;
    text-transform: uppercase;
    box-shadow: 1px 1px 2px gray;
    border-radius: 10px;
}

.sombra-interior {
    box-shadow: 1px 1px 10px gray inset !important;
}

#footer {
    width: 100%;
    height: 55px;
    line-height: 55px;
    background-color: #eeeeee;
    text-align: center;
    color: #444444;
    border-top: 1px solid #ccc;
}

.libre {
    position: absolute;
    top: 0px;
    right: 40%;
    border: 1px solid black;
    background-color: red;
    color: white;
    width: 50px;
    height: 50px;
    font-size: 13px;
}

.libre1 {
    /* La caja con mayor z-index va a estar arriba de la otra */
    z-index: 3;
}

.libre2 {
    top: 30px;
    right: 40%;
    background-color: green;
    z-index: 4; 
}

.fija {
    position: fixed;
    top: 50%;
    left: 0px;
    border: 1px solid black;
    background-color: blue;
    color: white;
    width: 50px;
    height: 50px;
    font-size: 13px;
}