*{
    margin: 0px;
    padding: 0px;
}

.clearfix {
    float: none;
    clear: both;
}

#container {
    width: 80%;
    background-color: red;
    margin: 0px auto;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 40px;
    margin-bottom: 40px;
}

header{
    width: 100%;
    background-color: lightblue;
    color: #333;
    height: 150px;
    line-height: 150px;
    text-align: center;
}

aside {
    width: 25%;
    background-color: #ccc;
    float: left;
    min-height: 600px;
    text-align: center;
    line-height: 600px;
}

#articles {
    width: 75%;
    float: left;
    min-height: 600px;
    background-color: lemonchiffon;
}

#articles article {
    width: 25%;
    height: 150px;
    background-color: green;
    text-align: center;
    line-height: 150px;
    color: white;
    border: 2px solid white;
    float: left;
    margin: 15px;
}

/* Responsive */

/* Desde la anchura 0px hasta la 888px se ejecutaran los sig : */
@media (max-width: 888px) {

    #articles article {
        background-color: red;
        width: 40%;
    }
}

/* Desde la anchura 0px hasta la 632px se ejecutaran los sig : */
@media (max-width: 632px) {

    #container {
        overflow: hidden;
    }

    aside {
        float: none;
        min-height: auto;
        line-height: 20px;
        width: 100%;
        padding: 19px;

    }

    #articles {
        width: 100%;
    }

    #articles article {
        background-color: blue;
        width: 90%;
    }
}

